@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-item:link, .nav-item:visited {
  text-decoration: none;
  color: inherit;
}
.nav-item:hover {
  text-decoration: underline;
}

/*Header.js*/
.navigation-bar {
  width: 60vw;
  margin: 5vh 20vw 4vh 20vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5vw;
}
.header-logo {
  width: 150px;
  height: 50px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  list-style-type: none;
  font: 500 18px "Karla", sans-serif;
  color: #495E57;
}

/*Hero.js*/
.hero-section {
  position: relative;
  padding-top: 5vh;
  background-color: #495E57;
}
.hero-title {
  width: fit-content;
  margin-left: 20vw;
  font: 500 64px "Markazi Text", serif;
  color: #F4CE14;
}
.hero-subtitle {
  width: fit-content;
  margin-left: 20vw;
  font: 400 40px "Markazi Text", serif;
  color: #EDEFEE;
}
.hero-description {
  width: 30vw;
  margin: 4vh 0 10vh 20vw;
  font: 500 18px "Karla", sans-serif;
  color: #EDEFEE;
}
.hero-button {
  width: 200px;
  height: 50px;
  margin: 0 0 3.5vh 20vw;
  background-color: #F4CE14;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  font: 500 18px "Karla", sans-serif;
  color: #333;
}
.welcome-image {
  position: absolute;
  width: 22vw;
  height: 33vw;
  top: 2vh;
  right: 20vw;
  background: center/cover url(../public/images/welcome-image.jpg);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

/*Specials.js*/
.highlights {
  margin: 0 20vw 0 20vw;
}
.highlights-heading {
  margin: 22vh 0 5vh 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.highlights-h2 {
  font: 700 40px "Markazi Text", serif;
  color: #333;
}
.highlights-button {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  background-color: #F4CE14;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  font: 500 18px "Karla", sans-serif;
  color: #333;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
}

/*Card.js*/
.card {
  width: max(18vw, 18vh);
  padding-bottom: max(1vw, 1vh);
  background-color: #EDEFEE;
  border-radius: 8px;
  display: grid;
  grid-template-areas: "card-image" "card-title" "card-copy" "card-cta";
  grid-template-rows: max(12vw, 12vh) max(4vw, 4vh) 1fr 18px;
}
.card-image {
  grid-area: card-image;
  width: max(18vw, 18vh);
  height: max(12vw, 12vh);
  margin-bottom: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-title {
  grid-area: card-title;
  margin: max(3vw, 3vh) 2vw max(2vw, 2vh) 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 700 18px "Karla", sans-serif;
  color: #333;
}
.card-amount {
  font: 500 16px "Karla", sans-serif;
  color: #EE9972;
}
.card-copy {
  grid-area: card-copy;
  margin: max(2vw, 2vh) 2vw max(5vw, 5vh) 1vw;
  font: 400 16px "Karla", sans-serif;
  color: #333;
}
.card-cta {
  grid-area: card-cta;
  margin: 0 2vw 0 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: 500 18px "Karla", sans-serif;
  color: #333;
}

/*Testimonials.js*/
.testimonials {
  margin-top: 10vh;
  padding: max(3vw, 3vh) 20vw max(3vw, 3vh) 20vw;
  background-color: #495E57;
}
.testimonials-h2 {
  margin-bottom: max(1.5vw, 1.5vh);
  text-align: center;
  font: 700 40px "Markazi Text", serif;
  color: #EDEFEE;
}
.testimonials-row {
  display: flex;
  justify-content: space-evenly;
}

/*Testimonial.js*/
.testimonial {
  width: max(12vw, 12vh);
  padding: 0 max(1vw, 1vh) max(1.5vw, 1.5vh) 0;
  display: grid;
  grid-template-areas: "user" "photo-rating" "review";
  grid-template-rows: max(3vw, 3vh) max(5vw, 5vh) max(10vw, 10vh);
  background-color: #EDEFEE;
  border-radius: 8px;
}
.testimonial-name {
  grid-area: user;
  margin: max(2vw, 2vh) 0 0 1vw;
  font: 700 18px "Karla", sans-serif;
  color: #333;
}
.testimonial-photo-rating {
  grid-area: photo-rating;
  margin: max(2vw, 2vh) 2vw 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 500 16px "Karla", sans-serif;
  color: #EE9972;
}
.testimonial-photo {
  width: max(4vw, 4vh);
  height: max(4vw, 4vh);
}
.testimonial-review {
  grid-area: review;
  margin: max(2vw, 2vh) 1vw 0 1vw;
  font: italic 400 16px "Karla", sans-serif;
  color: #333;
}

/*About.js*/
.about {
  display: flex;
  gap: 7vw;
}
.about-copy-title {
  margin: max(8vw, 8vh) 0 0 20vw;
  font: 500 64px "Markazi Text", serif;
  color: #333;
}
.about-copy-subtitle {
  margin-left: 20vw;
  font: 400 40px "Markazi Text", serif;
  color: #333;
}
.about-copy-text {
  width: 30vw;
  margin: max(4vw, 4vh) 0 0 20vw;
  font: 500 18px "Karla", sans-serif;
  color: #333;
}
.about-img-container {
  position: relative;
  width: 25vw;
  height: 33vw;
  margin-top: max(8vw, 8vh);
}
.about-image:first-child {
  width: 13vw;
  height: 17vw;
  position: absolute;
  top: 14vw;
  background: center/cover url("../public/images/Mario\ and\ Adrian\ B.jpg");
  border: 5px solid #495E57;
  border-radius: 8px;
}
.about-image:nth-child(2) {
  width: 13vw;
  height: 17vw;
  position: absolute;
  left: 9vw;
  background: center/cover url("../public/images/Mario\ and\ Adrian\ A.jpg");
  border: 5px solid #FBDABB;
  border-radius: 8px;
}

/*Footer.js*/
footer {
  padding: max(5vw, 5vh) 0 max(5vw, 5vh) 20vw;
  background-color: #495E57;
  display: flex;
  gap: 9vw;
}
.footer-logo-container {
  display: flex;
  align-items: center;
}
.footer-heading {
  margin-bottom: 3vw;
  font: 700 18px "Karla", sans-serif;
  color: #EDEFEE;
}
.footer-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  font: 400 16px "Karla", sans-serif;
  color: #EDEFEE;
}

/*BookingHero.js*/
.booking-hero {
  display: flex;
  gap: 7vw;
}
.booking-hero-title {
  width: fit-content;
  margin-left: 20vw;
  font: 500 64px "Markazi Text", serif;
  color: #EDEFEE;
}
.booking-hero-title + .hero-description {
  margin-top: 8vh;
  padding-bottom: 12vh;
}
.booking-hero-img-container {
  position: relative;
  margin-top: 2vw;
}
.booking-hero-image:first-child {
  width: 15vw;
  height: 17vw;
  position: absolute;
  top: 8vw;
  left: 8vw;
  z-index: 1;
  background: center/cover url("../public/images/booking-image\ A.jpg");
}
.booking-hero-image:nth-child(2) {
  width: 15vw;
  height: 17vw;
  position: absolute;
  background: center/cover url("../public/images/booking-image\ B.jpg");
}

/*BookingForm.js*/
.res-form {
  width: 56vw;
  padding: 6vw 0 4vw 20vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
  font: 400 16px "Karla", sans-serif;
  color: #333;
}
.res-form input, .res-form select {
  height: 2vw;
  font: 400 16px "Karla", sans-serif;
  color: #333;
  border-radius: 6px;
}
.res-form select {
  text-align: center;
  background-color: #EDEFEE;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.form-label-data {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.form-res-date-time {
  display: flex;
  gap: 7vw;
}
.form-fit-content {
  width: fit-content;
}
.seating-button-container {
  display: flex;
  gap: 4vw;
}
.seating-button {
  width: 10vw;
  height: 2vw;
  font: 400 16px "Karla", sans-serif;
  text-align: center;
  background-color: #EDEFEE;
  color: #333;
  border-radius: 6px;
}
.seating-button.seating-button-clicked {
  background-color: #495E57;
  color: #EDEFEE;
}
.form-label-data textarea {
  resize: none;
  height: 5vw;
}
.form-submit {
  display: flex;
  justify-content: flex-end;
}
input[type="submit"] {
  height: 50px;
  border-radius: 16px;
  font: 500 18px "Karla", sans-serif;
}
input[type="submit"][aria-disabled="true"] {
  background-color: rgba(244, 206, 20, 0.50);
  color: rgba(51, 51, 51, 0.50);
  box-shadow: none;
}

/*BookingForm.js -> aria-invalid*/
.res-form input[aria-invalid="true"], .res-form select[aria-invalid="true"] {
  outline: 1px solid red;
  box-shadow: 0 4px 8px rgba(0,0,0,.25);
}

@media screen and (max-width: 992px) {
  /*Hero.js*/
  .welcome-image {
    width: 33vw;
    height: 50vw;
    top: 9vh;
    right: 9vw;
  }

  /*Specials.js*/
  .highlights {
    margin: 0 9vw 0 20vw;
  }
  .highlights-heading {
    margin-top: max(10vw, 10vh);
  }
  .cards-container {
    margin-right: 11vw;
    flex-wrap: wrap;
    gap: max(2vw, 2vh);
  }

  /*Card.js*/
  .card {
    width: 60vw;
    grid-template-rows: 36vw max(4vw, 4vh) 1fr 18px;
  }
  .card-image {
    width: 60vw;
    height: 36vw;
  }

  /*Testimonials.js*/
  .testimonials-row {
    flex-wrap: wrap;
    gap: max(2vw, 2vh);
  }

  /*Testimonial.js*/
  .testimonial {
    width: max(20vw, 20vh);
    grid-template-rows: max(5vw, 5vh) max(7vw, 7vh) max(12vw, 12vh);
  }
  .testimonial-name {
    margin: max(2vw, 2vh) 0 0 3vw;
  }
  .testimonial-photo-rating {
    margin: max(2vw, 2vh) 5vw 0 3vw;
  }
  .testimonial-photo {
    width: max(8vw, 8vh); height: max(8vw, 8vh);
  }
  .testimonial-review {
    margin: max(3vw, 3vh) 1vw 0 3vw;
  }

  /*About.js*/
  .about-copy-text {
    width: 50vw;
    margin: max(4vw, 4vh) 0 max(4vw, 4vh) 20vw;
  }
  .about-image:first-child {
    right: 16vw;
  }
  .about-image:nth-child(2) {
    left: 2vw;
  }

  /*Footer.js*/
  footer {
    padding-right: 9vw;
  }
}

@media screen and (max-width: 768px) {
  /*Hero.js*/
  .welcome-image {
    top: 20vh;
  }

  /*About.js*/
  .about-image:first-child {
    width: 20vw;
    height: 25vw;
    top: 23vw;
    right: 12vw;
    border: 3px solid #495E57;
  }
  .about-image:nth-child(2) {
    width: 20vw;
    height: 25vw;
    top: 7vw;
    left: -5vw;
    border: 3px solid #FBDABB;
  }

  /*Footer.js*/
  footer {
    padding-left: 5vw;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer-menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
  }
}