@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation-bar {
  margin: 50px 20vw 40px 20vw;
  height: 50px; width: 60vw;
  display: flex;
  align-items: center;
  gap: 2.5vw;
}
.navigation-bar > nav > ul {
  display: flex;
  gap: 4vw;
  list-style-type: none;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #495E57;
}

.hero-section {
  background-color: #495E57;
  padding-top: 50px;
}
.hero-section h1 {
  margin-left: 20vw;
  width: fit-content;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
  color: #F4CE14;
}
.hero-section h2 {
  margin-left: 20vw;
  width: fit-content;
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: #EDEFEE;
}
.hero-section .description {
  margin: 40px 0 100px 20vw;
  width: 30vw;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #EDEFEE;
}
.hero-section .reserve-table-button {
  margin: 0 0 35px 20vw;
  width: 200px; height: 50px;
  border-radius: 16px;
  background-color: #F4CE14;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
}
